<link rel="stylesheet"  href="C:/Users/Mattia/Desktop/Università/Progetto di sistemi web/Esame/src/app/new-domanda/fonts/font-awesome-4.7.0/cssfont-awesome.min.css">
<link rel="stylesheet"  href="C:\Users\Mattia\Desktop\Università\Progetto di sistemi web\Esame\src\app\new-domanda\css\util.css">
<link rel="stylesheet"  href="C:\Users\Mattia\Desktop\Università\Progetto di sistemi web\Esame\src\app\new-domanda\css\main.css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

<div [hidden]="!mostraArgomenti">
    
    <div class="col-md-4" style="margin-top: 25px;">
        <b>Ricerca Argomenti</b>
        <div class="form-group">
            <input type="text" class="form-control"  placeholder="Inserisci parola chiave.." [(ngModel)]="searchedKeyword">
        </div>
    </div>
    <table #d class="table">
        <thead>
            <tr>
                <th scope="col">Argomento</th>
            </tr>
        </thead> 
        <tr *ngFor="let a of argomenti | filter: searchedKeyword">
            <td>
                {{a.nome}}
            </td>
            <td>
                <form class="form-inline" [formGroup]="domandaForm" (ngSubmit)="onSubmitd(a, d, utenteToken, users)">
                    <label for="testo">
                        Domanda:
                    </label>
                    <div class="form-group">
                        <input type="text"  style="margin-left: 5px;" id="testo" formControlName="testo" class="form-control" placeholder="Inserisci domanda..">
                    </div>
                    <button type="submit" class="btn btn-primary" style="margin-left: 5px;"  [disabled]="!domandaForm.valid">Inserisci Domanda</button>
                </form>
            </td>
            <td>
                <button type="button" class="btn btn-labeled btn-success" (click)="showQuestions(a)">
                    <span class="btn-label"></span>Mostra Domande
                </button>
            </td>
        </tr>
    </table>
    <div class="form-group" style="margin-right: 500px;">
        <form class="form-signin" [formGroup]="argomentoForm" (ngSubmit)="aggiungiArgomento()">
            <div class="form-group">
                <input type="text" id="nome" name="nome" formControlName="nome" class="form-control" placeholder="Inserisci argomento..">
            </div>   
            <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!argomentoForm.valid">Aggiungi</button>
        </form>
    </div>
    
    <footer class="footer-navbar fixed-bottom" style="margin-top: 50px;">
        <div class="container-fluid py-3" style="background-color: black;">
            <div class="row">
                <div class="col-md-7">
                    <div class="col-sm-11 text-white">
                        <div><h4>Mattia Zaccarini</h4>
                            <p><span class="header-font">mattia.zaccarini@student.unife.it</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<div [hidden]="!mostraDomande">
        <b>Ricerca Domande</b>
        <div class="form-group" style="margin-right: 1000px;">
            <input type="text" class="form-control"  placeholder="Inserisci parola chiave.." [(ngModel)]="searchedKeyword">
        </div>
    <div *ngFor="let q of questionsByArgument | filter: searchedKeyword">
        <section class="post" style="margin-bottom: 110px;" >
            <div class="post-meta">
                <p class="lead"><i class="fa fa-user"></i> by {{q.user}}
                </p>  
                <div #r class="post-description">
                    <p>
                        {{q.testo}}
                    </p>
                    <form class="form-inline" [formGroup]="rispostaForm" (ngSubmit)="onSubmitr(q, r, utenteToken, users)">
                        <label for="testo">
                            Risposta:
                        </label>
                        <div class="form-group">
                            <input type="text"  style="margin-left: 5px;" id="testo" formControlName="testo" class="form-control" placeholder="Inserisci risposta..">
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin-left: 5px;"  [disabled]="!rispostaForm.valid">Rispondi</button>
                    </form>
                    <button type="submit" style="margin-top: 5px;" class="btn btn-primary" (click)="showAnswers(q)">Mostra Risposte</button>
    
                    <form class = "form-inline" style="margin-top: 10px;" [formGroup]="motivoForm">
                        <label for="motivo">
                            Segnalazione: 
                        </label>
                        <input type="text"  style="margin-left: 5px;" id="motivo" formControlName="motivo" class="form-control" placeholder="Inserisci motivo...">
                        <button type="button" class="btn btn-labeled btn-danger" (click) = "segnalaContenutod(q, utenteToken, segnalazione, users)">
                            <span class="btn-label"></span>Segnala
                        </button>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-left: 5px;"  (click) = "backArguments()">Torna agli argomenti</button> 
    <footer style="margin-top: 50px;">
        <div class="container-fluid py-3" style="background-color: black;">
            <div class="row">
                <div class="col-md-7">
                    <div class="col-sm-11 text-white">
                        <div><h4>Mattia Zaccarini</h4>
                            <p><span class="header-font">mattia.zaccarini@student.unife.it</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<div [hidden]="!mostraRisposte">
    <b>Ricerca Risposte</b>
    <div class="form-group" style="margin-right: 1000px;">
        <input type="text" class="form-control"  placeholder="Inserisci parola chiave.." [(ngModel)]="searchedKeyword">
    </div>
    <div *ngFor="let a of answers | filter: searchedKeyword">
        <section class="post"  style="margin-bottom: 110px;" >
            <div class="post-meta">
                <p class="lead"><i class="fa fa-user"></i> by {{a.user}}
                </p>  
                <div class="post-description">
                    <p>
                        {{a.testo}}
                    </p>
                    <button type="button" class="btn btn-labeled btn-success" (click)="like(a)">
                        <span class="btn-label"><i class="glyphicon glyphicon-thumbs-up"></i></span>Like  {{a.valutazione}}
                    </button>
                    <button type="button" class="btn btn-labeled btn-danger" (click)="dislike(a)">
                        <span class="btn-label"><i class="glyphicon glyphicon-thumbs-down"></i></span>Dislike  {{a.valutazione}}
                    </button>
                    <form class = "form-inline" [formGroup]="motivoForm">
                        <label for="motivo">
                            Segnalazione: 
                        </label>
                        <input type="text" style="margin-left: 5px;" id="motivo" formControlName="motivo" class="form-control" placeholder="Inserisci motivo...">
                        <button type="button" class="btn btn-labeled btn-danger" (click) = "segnalaContenutor(a, utenteToken, segnalazione, users)">
                            <span class="btn-label"></span>Segnala
                        </button>
                    </form>
                </div>
        
            </div>
        </section>
    </div>
    <button type="submit" style="margin-top: 5px;" class="btn btn-primary" (click)="backQuestions()">Torna alle domande</button>
    <footer style="margin-top: 50px;">
        <div class="container-fluid py-3" style="background-color: black;">
            <div class="row">
                <div class="col-md-7">
                    <div class="col-sm-11 text-white">
                        <div><h4>Mattia Zaccarini</h4>
                            <p><span class="header-font">mattia.zaccarini@student.unife.it</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>




