<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <div class="navbar-brand">
          <a>Esame Progetto di Sistemi Web</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/showQuestion']" [routerLinkActive]="['btn-success']">Lista Domande</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"[routerLink]="['/showUsers']" [routerLinkActive]="['btn-success']">Lista Utenti</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"[routerLink]="['/showReports']" [routerLinkActive]="['btn-success']">Segnalazioni</a>
      </li>
    </div>
</nav>
<div [hidden]="!loggatoAdmin" class="alert alert-success" role="alert" style="margin-top: 50px; margin-left: 10%; margin-right: 10%; width:80%;">
    Iscrizione admin eseguita
</div>
