<div #id>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">E-mail</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Admin</th>
            </tr>
        </thead>
    
        <tr *ngFor='let u of users'>
            <td>
                {{u.id}}
            </td>
            <td>
                {{u.email}}
            </td>
            <td>
                {{u.username}}
            </td>
            <td>
                ********
            </td>
            <td>
                {{u.admin}}
            </td>
            <td>

            </td>
        </tr>
    </table>
    <button type="button" class="btn btn-labeled btn-success" (click) = "checkAdmin()">
        <span class="btn-label"><i class="glyphicon glyphicon-thumbs-up"></i></span>Modifica utenti
    </button>
    <div *ngIf="mostraCredenziali">
            <form class = "form-inline" [formGroup]="checkId">
                <input type="text"  style="margin-left: 5px;" id="id" formControlName="id" class="form-control" placeholder="Id utente da modificare">
            </form>
            <button type="button" class="btn btn-labeled btn-success" (click) = "accettaNewAdmin(id, users)">
                <span class="btn-label"><i class="glyphicon glyphicon-thumbs-up"></i></span>Rendi Admin
            </button>
            <button type="button" class="btn btn-labeled btn-danger" (click) = "accettaDelete(id, users)">
                <span class="btn-label"><i class="glyphicon glyphicon-thumbs-down"></i></span>Elimina Utente
            </button>
    </div>
</div>

<footer class="footer-navbar fixed-bottom" style="margin-top: 50px;">
    <div class="container-fluid py-3" style="background-color: black;">
        <div class="row">
            <div class="col-md-7">
                <div class="col-sm-11 text-white">
                    <div><h4>Mattia Zaccarini</h4>
                        <p><span class="header-font">mattia.zaccarini@student.unife.it</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>




