<table class="table">
    <thead>
        <tr>
            <th scope="col">Contenuto</th>
            <th scope="col">Motivo</th>
        </tr>
    </thead>
    <tr *ngFor="let r of reports">
        <td>
            {{r.contenuto}}
        </td>
        <td>
            {{r.motivo}}
        </td>
        <td>
            <button type="button" class="btn btn-labeled btn-success" (click) = "rejectReport(r.id)">
                <span class="btn-label"><i class="glyphicon glyphicon-thumbs-up"></i></span>Conferma contenuto
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-labeled btn-danger" (click) = "confirmReport(r)">
                <span class="btn-label"><i class="glyphicon glyphicon-thumbs-down"></i></span>Elimina Contenuto
            </button>
        </td>
    </tr>
</table>

<footer class="footer-navbar fixed-bottom" style="margin-top: 50px;">
    <div class="container-fluid py-3" style="background-color: black;">
        <div class="row">
            <div class="col-md-7">
                <div class="col-sm-11 text-white">
                    <div><h4>Mattia Zaccarini</h4>
                        <p><span class="header-font">mattia.zaccarini@student.unife.it</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
