<div class="row">
  <div [hidden]="!logoutUser" class="alert alert-success" role="alert" style="margin-top: 50px; margin-left: 10%; margin-right: 10%; width:80%;">
    Logout eseguito
  </div>
    <div class="column">
      <form class="form-signin" [formGroup]="loginForm" style="margin-left: 300px;">
        <div [hidden]="!loggato" class="alert alert-success" role="alert" style="margin-top: 50px; margin-left: 10%; margin-right: 10%; width:80%;">
          Login eseguito
        </div>
        <div [hidden]="!loginfailed" class="alert alert-danger" role="alert" style="margin-top: 50px; margin-left: 10%; margin-right: 10%; width:80%;">
          Username o password errati
        </div>
        <h2 class="form-signin-heading">Accedi</h2>
        <div class="form-group">
          <input type="text" id="username" name="username" formControlName="username" class="form-control" placeholder="Inserisci username...">
        </div>
        <div class="form-group">
          <input type="password" id="password" formControlName="password" class="form-control" placeholder="Inserisci password... ">
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block" (click)="login(user, users)" [disabled]="!loginForm.valid">Accedi</button>
        <button type="submit" class="btn btn-lg btn-primary btn-block" (click)="logout()">Logout</button>
      </form>
    </div>
    <div class="column">
      <form class="form-signin" [formGroup]="signInForm" style="margin-left: 350px;" (ngSubmit)="iscriviti(user,users)">
        <div [hidden]="!iscritto" class="alert alert-success" role="alert" style="margin-top: 50px; margin-left: 10%; margin-right: 10%; width:80%;">
          Iscrizione eseguita
        </div>
        <div [hidden]="!userPresente" class="alert alert-danger" role="alert" style="margin-top: 50px; margin-left: 10%; margin-right: 10%; width:80%;">
          Nome gia' selezionato
        </div>
        <h2 class="form-signin-heading">Iscriviti</h2>
        <div class="form-group">
          <input type="text" id="email" name="email" formControlName="email" class="form-control" placeholder="Inserisci indirizzo email...">
        </div>
        <div class="form-group">
            <input type="text" id="username" name="username" formControlName="username" class="form-control" placeholder="Inserisci username...">
        </div>
        <div class="form-group">
            <input type="password" id="password" formControlName="password" class="form-control" placeholder="Inserisci password... ">
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block" id="iscrivitiButton" [disabled]="!signInForm.valid">Iscriviti</button>
      </form>    
    </div>
  </div>
  
  <footer class="footer-navbar fixed-bottom" style="margin-top: 50px;">
      <div class="container-fluid py-3" style="background-color: black;">
        <div class="row">
          <div class="col-md-7">
            <div class="col-sm-11 text-white">
              <div><h4>Mattia Zaccarini</h4>
                <p><span class="header-font">mattia.zaccarini@student.unife.it</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>